.button {
    color: #333;
    cursor: pointer;
    font-size: 16px;
    margin: 1px;
    padding: 10px;
}
.button:hover {
	opacity:.60;
}
.js-textarea {
	width: 100%;
	border: 1px solid #9e9e9e;
}
.mce-panel {
    background-color: #f0f0f0;
    background-image: linear-gradient(to bottom, #fdfdfd, #ddd);
    background-repeat: repeat-x;
    border: 1px solid #9e9e9e;
}
